.card{
    margin: 50px;
    background-color: rgb(201, 193, 128);
    padding: 10px;
    width: 225px;
    height: fit-content;
    min-height: 350px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 200px;
    object-fit:cover;
    border-radius: 10px;
}

.wrapper{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


.country-name{
    font-size: 1.4rem;
    font-weight: 700;
}
p{
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}